body {
  padding-top: 70px; 
  font-family: "Share Tech Mono";
  color: black;
  background-color: #cbcbcb;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
}
a.navbar-brand{
  cursor:crosshair;
}
ul.nav.navbar-nav{
  cursor:pointer;
}

.btn.btn-link{
  
  background: white;
  display: block-center;
  width: 0;
  height: 0;
}

a.fa-steam-square{
  color: black;
  text-decoration: none;
}
a.fa-twitter-square{
  color:#55acee;
}

a.fa-twitch{
  color: #6441a5;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.about{
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  background: #b8b894;
  border-radius: 10px;
}

#aboutMe{
  margin-left: 100px;
}

#aboutMeTitle{
  font-weight: bold;
}

a.fa {
  text-decoration: none;
  display: block;
  margin: 95px;
}

.portfolio{
  
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  background: #b8b894;
  border-radius: 10px;
}
#portfolioTitle{
  font-weight: bold;
}
#portfolioTitle, #portfolioText{

}

#elephant{
 width: 350px;
}
#me{
 width: 170px;
}
#freeCodeCamp{
  width:170px;
  margin-left: 30px;
}
#freeCodeCamp:hover{
   border-style: solid;
   border-width: 2px;
   border-color: green;
}


#resume{
  width: 163px;
  height: 80px;
}
.personal{
}
#resume:hover{
  border-style: solid;
  border-width:2px;
  border-color: grey;
}

#personalText{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  background: #b8b894;
  border-radius: 10px;
}

#dota2{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 40%;
}

#contactText{
  text-align: center;
}