<header>
  <h1>Pagina Prova</h1>
</header>
<div ng-app="myApp" ng-controller="mainCtrl">
  <h3>Inserisci utente (Premere invio per inserire)</h3>
  <form ng-submit="submit()">
    <input type="text" ng-model="utente">
    <input type="button" value="Elimina lista" ng-click="eliminaLista(utenti)">
  </form>
  <br>
  <input type="button" value="Utenti automatici" ng-click="inserisciUtenti()">
  <p><b>Utenti inseriti</b></p>
  <ul>
    <li ng-repeat="elemento in utenti">{{elemento}}</li>
  </ul>
  <input type="button" value="Saluta Utenti" ng-click="salutaUtenti()">
</div>
<footer>
  
</footer>